@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto+Mono:wght@200&family=Roboto+Serif:opsz,wght@8..144,200&family=Roboto:wght@700&family=Source+Code+Pro:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
    
}

.navigation-links{

    background-color:pink;
    font-family: 'Montserrat', sans-serif;
    top: 0;
    position:fixed;
    width: 100%;
    display: flex;
    text-transform: uppercase;
    border-top-right-radius: 7px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);

}
.logo-img-title{ 
    margin-left: 50px;
    display: flex;
}
.logo{
    padding: 5px;
    width: 40px;
}
.logo-text{
 color: #192a3b;
 font-weight: 700;
 font-size: 24px;
}
.link-items{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav-links .item{
    padding-right:15px;
    display: inline;
    color:#000;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.item:hover{
    font-weight: 700;
    color: #192a3b;
}

.link-items label{
    display: inline-block; 
    font-style: normal;
    padding: 5px;
    font-size: 1.7em;
    display: none;
}
input[type="checkbox"]{
    display: none;
}

@media screen and (max-width: 768px) {
    .link-items  label{
        display: block;
    }
    input:checked ~  .nav-links { display: block;}
    .nav-links{
        display: none;
        flex-direction: row;
        background-color: #ededed;
        padding-right: 20px;
        position: absolute;
        top: 60px;
      }
      .nav-links .item{
        padding: 10px;
        display: block;
      }
}

.main-section{
    margin: 150px 150px 100px 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.main-section img{
    width: 350px;
    height: 350px;
}
.Home-title{
    font-size: 70px;
}

/* ------------------------- */

.section{
    font-family: 'Roboto Serif', serif;
    display: flex;
   justify-content: center;
   height: 50hv;
   width: 100%;
}

.section .tip-name{
    color: #192a3b;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-align: center;
    padding:10px;
}
.section .tip-text{
    flex: 1;
    line-height:2rem;
    max-width: 600px;
    padding: 10px;
    margin: 20px 50px;
    text-align:start;
    font-family: sans-serif;
    font-weight: 500;
}

